@page
@model MyHomePageWebApp.Pages.IndexModel
@{
    ViewBag.Title = "Моя страница";
}

<h1>Добро пожаловать</h1>
<img src="images/100_0362_1.jpg" width="100" />
<ul class="nav">
    <li class="nav-item"><a class="nav-link" href="Bio">Обо мне</a></li>
    <li class="nav-item"><a class="nav-link" href="Feedback">Связаться со мной</a></li>
    <li class="nav-item"><a class="nav-link" href="galery">Галерея</a></li>
    <li class="nav-item"><a class="nav-link" href="galery2">Галерея (как папка)</a></li>
</ul>
